<!--B"H-->
<?Awtsmoos
var b= $a("bh.html");
return b;
?>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awtsmoos Inspired Design</title>
    <link rel="stylesheet" href="/style/social/alias.css">
</head>
<body>
    <div class="aliasInfo">
        <?Awtsmoos
;

if(this. alias)
return (this.belongsToMe?"You own this Alias " :
"You don't own this ") + this.alias

?>
    </div>
    <script src="/scripts/awtsmoos/social/alias.js" type="module"></script>
</body>
</html>
