/**B"H**/
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, .btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
.btn:hover {
    background-color: #0056b3;
}


.tooltip {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.tooltip:hover + .tooltiptext {
    display: block;
}

.tooltiptext {
    display: none;
    position: absolute;
    background-color: #007BFF;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    z-index: 1;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}



.tooltiptext.show {
    display: block;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #007BFF transparent transparent transparent;
}
