/**B"H
for posts
*/

.heichel-view {
    max-width: 80vw;
}
.post-view {
    width:100%;
}
#minMax {
    /*margin-bottom: 10px;*/
}
/* Container styles */
.container {
   
    margin: 0 auto;
}
.controls .button {
    font-size:15px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.post-header {
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
}

.post-details {
    overflow: hidden;
    max-height: 300px;
    transition:all 0.3s ease;
    opacity: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #80808070;
}

.tl {
    display: flex;
    gap: 7px;
    justify-content: space-between;
}

.title-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}




.post .tl {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Heading styles */
.post .post-title {
    font-size: 26px !important;
    font-family: Georgia, serif; /* Serif font for headings */
    /*margin-bottom: 20px;*/
}



.post h2 {
    font-family: Georgia, serif; /* Serif font for headings */
    
}

/* Link styles */
.post a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.post a:hover {
    color: #0056b3;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration:none;
    color:white;
    transition: background-color 0.3s ease;
}

.button.primary {
    background-color: #007bff;
    color: #fff;
}

.button.primary:hover {
    background-color: #0056b3;
    color: white
}

.button.third {
    background-color: #ffbb00;
    color: black;
}

.button.third:hover {
    background-color: #b39800;
    color: white
}

.button.secondary {
    background-color: #6c757d;
    color: #fff;
}

.button.secondary:hover {
    background-color: #5a6268;
}

.post {
    height: calc(100vh - 90px);
    overflow-y: hidden;
}


@media only screen and (max-width: 768px) {
    
    .post-frame {
        flex-direction: column !important;
        max-height:calc(68vh - 90px);
    }

    .post .post-title {
    font-size: 17px !important;
    
    }

    .post-frame.with-details {
    max-height:calc(62vh - 90px);
    }

        
  html, body {margin: 0; height: 100%; overflow: hidden}
}

.main {
    padding: 0px !important;
}
.hidden-post
,
.hidden {
    display: none;
}

.sidebar {
    opacity:1;
    position: relative;

}
.hidden-comments {
   
    display:none;
}

.hidden-details {
   /* opacity: 0;
    margin-top:-70px;
    height: calc(100vh - 90px);
    max-height: 0px;
    pointer-events:none;
    transition: all 0.3s ease;*/
    display:none;
}
/* Accessibility */
.post a {
    color: #007bff;
    text-decoration: underline;
}

.button:focus {
    outline: 2px solid #007bff;
}


/* Paragraph styles */
.post .content{
    white-space:pre-wrap;
    /*text-indent: 1em;  /*Paragraph indentation */
    hyphens: auto; /* Hyphenation */
    word-break:break-word;
    z-index:30;
}

.post-frame > div {
    overflow-y: scroll;
    padding:26px;
    overflow-x:hidden;
    flex:1
}

.post-frame {
    display: flex;
    flex-direction: row;
    flex:1;
    transition: max-height 0.3s ease;
    
    max-width: 80vw;
   /* margin-bottom: 20px;*/
    max-height:calc(75vh - 90px);
    
    border: 1px solid #ccc;
}

.post-frame.with-details {
    max-height:calc(71vh - 90px);
}

.value a {
    color: black;
}
.value {
    background: #00d6ff;
    border-radius: 10px;
    padding: 10px;
    color: white !important;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    white-space: normal;
}
.all-tabs{
    transform:translateX(120%);
    transition: all 0.3s ease;
}

.all-tabs.active {
    transform: translateX(0%);
    position: absolute;
    top: 15px;
    transition: all 0.3s ease;
}

.tab-container {
    display:none
}

.tab-container.active {
    display:flex;
}
.tab-button {
    text-align:center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.back-btn {
    background-color: #007bff; /* Blue color for the button */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-btn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }

  .all-tabs {

    transition: all 0.3s ease;
  }

  .tab-buttons {

    transition: all 0.3s ease;
  }
  .backScreen {
    transform: translateX(-120%);
    transition: all 0.3s ease;
  }
  .backScreen.active {
    transform: translateX(0%);
    transition: all 0.3s ease;
  }

  .invisible {
    display:none;
  }

  .info-header {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    margin-top:17px;
    color: #333; /* Text color */
    border-bottom: 2px solid #007bff; /* Bottom border color and thickness */
    padding-bottom: 5px; /* Adjust spacing between text and border */
    margin-bottom: 10px; /* Adjust spacing between headers */
  }
