/*B"H*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.console-output {
    height: 100px !important;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.editorParent {
    max-height: 40%;
}

.container {
    display: flex;
    width: 100%;
   
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.sidebar h3 {
    margin-bottom: 10px;
    text-align: center;
}

#scriptList {
    list-style-type: none;
}

#scriptList li {
    padding: 8px;
    cursor: pointer;
}

#scriptList li:hover {
    background-color: #555;
}

.editor-panel {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.divider {
    background-color: #ccc;
    cursor: row-resize;
    height: 5px;
}
/* 
.editor-panel {
    flex: 1;
    overflow: auto;
}

.console-output {
    flex: 0.5;
    overflow: auto;
}*/
h2 {
    margin-bottom: 10px;
    color: #333;
}

.editor {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    min-height: 300px;
    overflow-y: auto;
    background-color: #f9f9f9;
    font-family: monospace;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#sendButton {
    background-color: #28a745;
    color: #fff;
}

#saveButton {
    background-color: #007bff;
    color: #fff;
}



#console {
    font-family: monospace;
    white-space: pre-wrap;
}

    
