<!--B"H-->

  
  <link href="style2.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="amiko.css" media="all">
  <div class="w-layout-blockcontainer container-4 w-container">
    <h1 class="heading">Likkutei Sichos</h1>
    <div class="text-block-2">*PREVIEW</div>
  </div>
  
  <section>
    <div data-current="Tab 1" data-easing="ease" data-duration-in="150" data-duration-out="150" class="tabs w-tabs">
      <div class="tabs-menu w-tab-menu" role="tablist">
        <a data-w-tab="Tab 1" data-w-id="dc4fb900-0e21-9f7d-30df-a352e8466c0d" class="tablink _1 w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0" href="#" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
          <div class="active-tablink" style="transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
          <div class="text-color-grey" id="parshaTxt" style="color: rgb(0, 0, 0);">Parsha</div>
        </a>
        <a data-w-tab="Tab 2" data-w-id="dc4fb900-0e21-9f7d-30df-a352e8466c12" class="tablink _2 w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-1" href="#" role="tab" aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false" tabindex="-1">
          <div class="text-color-grey" id="volTxt" style="color: rgb(117, 115, 115);">Volume</div>
        </a>
      </div>
      <div class="tabs-content-wrapper w-tab-content">
        <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" 
        id="w-tabs-0-data-w-pane-0" role="tabpanel"
         aria-labelledby="w-tabs-0-data-w-tab-0" style="opacity: 1; transition: opacity 150ms ease 0s;">
          
        </div>
        <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-1" style="">
          <div class="w-layout-grid grid">
            <a id="w-node-_14f9d319-9309-857b-c5cb-01035c5d2f3c-60be0c60" href="#" class="button-3 w-button">1</a>
            <a id="w-node-_08cb8272-0f26-8e38-b59a-74683c9c26b9-60be0c60" href="#" class="button-3 w-button">2</a>
            <a id="w-node-_0399dfa7-00c3-b763-4412-ce68c8932bbf-60be0c60" href="#" class="button-3 w-button">3</a>
            <a id="w-node-_76dcaea0-6cb8-237d-0f17-404133caf085-60be0c60" href="#" class="button-3 w-button">4</a>
            <a id="w-node-c060030b-ae5e-cca3-9551-93019f6334e3-60be0c60" href="#" class="button-3 w-button">5</a>
            <a id="w-node-_21fedb2b-9311-f7a8-ba69-0fa36d3cbd51-60be0c60" href="#" class="button-3 w-button">6</a>
            <a id="w-node-be8ecd02-33d6-1ab6-a14b-92774d818978-60be0c60" href="#" class="button-3 w-button">7</a>
            <a id="w-node-_6d899775-46f0-389a-f4f1-7f877c27a3c2-60be0c60" href="#" class="button-3 w-button">8</a>
            <a id="w-node-c59d1a82-e295-673b-0513-2df6a2ac32c5-60be0c60" href="#" class="button-3 w-button">9</a>
            <a id="w-node-_71ae5ba5-3a94-810b-2ff4-a095099c588e-60be0c60" href="#" class="button-3 w-button">10</a>
            <a id="w-node-fbaedf41-308e-fb26-8f42-1d069eb5edbc-60be0c60" href="#" class="button-3 w-button">11</a>
            <a id="w-node-_20c5d7fe-4437-0fc7-33b3-646d02aea4ca-60be0c60" href="#" class="button-3 w-button">12</a>
            <a id="w-node-_53e56539-714d-b967-a0ed-08495d2ee0f4-60be0c60" href="#" class="button-3 w-button">13</a>
            <a id="w-node-_283ae3ba-8c04-63c8-d44e-1438b1d87655-60be0c60" href="#" class="button-3 w-button">14</a>
            <a id="w-node-fddbbf3a-0061-4b65-87b7-e2f0580e6d46-60be0c60" href="#" class="button-3 w-button">15</a>
            <a id="w-node-_4312f0a8-17ee-77cf-a5c0-ae9609ff6356-60be0c60" href="#" class="button-3 w-button">16</a>
            <a id="w-node-e694ea46-16bd-7da5-f15a-57527c5edfe2-60be0c60" href="#" class="button-3 w-button">17</a>
            <a id="w-node-deecb701-667a-ea7e-41de-ef51bdca685b-60be0c60" href="#" class="button-3 w-button">18</a>
            <a id="w-node-_2e44d9e7-a4ef-7afd-bb15-0b22fd9ce91a-60be0c60" href="#" class="button-3 w-button">19</a>
            <a id="w-node-ebf02089-2141-55fa-5baa-3585ed525f03-60be0c60" href="#" class="button-3 w-button">20</a>
            <a id="w-node-_402aaf9f-178f-8d9f-cf23-305c6d1ad76a-60be0c60" href="#" class="button-3 w-button">21</a>
            <a id="w-node-ae9c6acf-53cc-1ca2-5ee7-b5ef31fee463-60be0c60" href="#" class="button-3 w-button">22</a>
            <a id="w-node-_5c44d575-1116-6130-feb1-b7cfa7cfb48a-60be0c60" href="#" class="button-3 w-button">23</a>
            <a id="w-node-_18bc3480-6119-9d20-3838-7ee74571ddfd-60be0c60" href="#" class="button-3 w-button">24</a>
            <a id="w-node-_11059115-868c-6361-ecd0-515ef9ba4578-60be0c60" href="#" class="button-3 w-button">25</a>
            <a id="w-node-_4fed1771-a572-fe8c-f2ab-fc8fd1a337c6-60be0c60" href="#" class="button-3 w-button">26</a>
            <a id="w-node-bb867b4a-ff74-4d80-9eaf-e7200dba8032-60be0c60" href="#" class="button-3 w-button">27</a>
            <a id="w-node-_444f1eb8-ba9a-fb91-379e-2f44a770b0bf-60be0c60" href="#" class="button-3 w-button">28</a>
            <a id="w-node-fed2c00a-0de1-79d2-a7d8-ffc535140556-60be0c60" href="#" class="button-3 w-button">29</a>
            <a id="w-node-_72abce22-b4da-0423-ded5-31969acef68b-60be0c60" href="#" class="button-3 w-button">30</a>
            <a id="w-node-_8b2f7562-13e0-c465-4c6a-d72c3b899167-60be0c60" href="#" class="button-3 w-button">31</a>
            <a id="w-node-_44cf1705-8c93-1a94-94c2-402b38805de0-60be0c60" href="#" class="button-3 w-button">32</a>
            <a id="w-node-_5fe22bab-817e-28eb-e628-740540cf8e14-60be0c60" href="#" class="button-3 w-button">33</a>
            <a id="w-node-d50ce29a-3d83-a40f-4327-1bae916546dc-60be0c60" href="#" class="button-3 w-button">34</a>
            <a id="w-node-a72f1835-f3c1-4645-f8f4-5f4b1dc70c99-60be0c60" href="#" class="button-3 w-button">35</a>
            <a id="w-node-db024485-62b4-c2f0-d092-a78855c9b584-60be0c60" href="#" class="button-3 w-button">36</a>
            <a id="w-node-_4b8e915e-9bce-ed8e-95a8-6773cc363442-60be0c60" href="#" class="button-3 w-button">37</a>
            <a id="w-node-_4c0364b5-50dd-a2a3-8d20-e758f6a04516-60be0c60" href="#" class="button-3 w-button">38</a>
            <a id="w-node-d72880e5-6a0d-33b5-96f9-a69cd0549164-60be0c60" href="#" class="button-3 w-button">39</a>
            <a id="w-node-_37936521-a660-cda9-a8ee-ea1e35c4ed7c-60be0c60" href="#" class="button-3 w-button">40</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="w-layout-blockcontainer container-3 w-container">
    <div class="div-block-3"></div>
  </div>
  <script src="../templates/homepageScript.js"></script>
  <style>
    .active-tablink {
      transition: transform .5s ease;
    }
  </style>