<!--B"H-->
<div id="BH">B"H</div>
<script src="/scripts/awtsmoos/index.js"></script>
<style>

#BH {
    position:fixed;
    left:26px;
    top:26px;
    font-size: 2vw;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 10px #ff4da6;
    animation: glow 2s ease-in-out infinite alternate;
}


#BH a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background:black;
    text-decoration:none;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
}

#BH a:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.75);
}

body {

    margin-top:100px;
}
</style>