<!--B"H-->
<?<script>
//B"H
var msg = this.message || "";
var doLogout = this.logout || false;
var red = typeof(this.redirect) == "number"
    ?this.redirect : false;
var BH = await getT("bh.html");
var logout = await getT("logout.html")
if(red) {
    setHeader("refresh", red+"; url=/")
}
return BH
+/*html*/`

<link rel="stylesheet" type="text/css" href="/style/forms.css">
<div class="m">
    <div>
    ${msg}
    <br>
    ${
        doLogout?logout:""
    }
    ${
        red?"Redirecting to home page in "
        + "<span id='red'>"+
        red + "</span>"+
        " seconds..."+
        /*javascript*/`<script>

            function doIt() {
                var num = parseInt(red.innerHTML);

                console.log("Got number!", num)
                if(isNaN(num)) {
                    return;
                }
                setInterval(()=>{
                    console.log("LOWEIRNG")
                    num--;
                    red.innerHTML = num;
                }, 1000)   
            } 
            doIt()
        </script>`:""
    }
    </div>
    </div>
`;
</script>?>