<!--B"H-->
<?<script> 
if(location.pathname !== ("/profile/")) {
    var alias = request.user.info?.hosuhfuh?.alias;
    var username = request.user.info?.userId;
    $sd.alias=alias;
    $sd.username=username
}
</script>?>

<div class="awtsmoosDrop">
<div class="btn" id="dropdownProfile">
    <?<script>return $sd.alias? "@"+$sd.alias:"Profile"</script>?> <span id="awtsDownIndicator">&#x25BC</span>
</div>
<div id="awtsmoosProfileDropContent" class="hidden dropdown-content">
    <div class="welcome">
        Welcome, <span class="highlight"><?<script>return $sd.username</script>?>!</span>
    </div>
    <?<script>
        if($sd.alias) {
            return /*html*/`
                <div class="currentAlias">
                You're current alias is: 
                <a href="/${$sd.alias? "@"+$sd.alias:"profile"}">
                    ${$sd.alias? "@"+$sd.alias:"Profile"};
                </a>
            </div>
            `;
        }
    </script>?>
    
    <div class="settings">
        <a href="/profile">Manage Your Aliases</a>
    </div>
    <?<script>
    
        return $a("logout.html");
    
    </script>?>
    <script>
        dropdownProfile.addEventListener("click", async () => {
            var hid = awtsmoosProfileDropContent.classList.contains("hidden")
            if(hid) {
                awtsmoosProfileDropContent.classList.remove("hidden")
                awtsDownIndicator.innerHTML = "&#x25B6"
            } else {
                awtsmoosProfileDropContent.classList.add("hidden")
                awtsDownIndicator.innerHTML = "&#x25BC"
            }

        })
    </script>
</div>
</div>
<style>
     .awtsmoosDrop {
            position: relative;
            display: inline-block;
        }

        .awtsmoosDrop .dropdown-content {
            padding:26px;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .awtsmoosDrop .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: unset;
            display: inline-block;
            background: unset;
            margin:unset;
        }
</style>
