
/*B"H*/
Awtsmoos {
    display:block !important;
    }
    instructions {
        display: none;
    }
    
    info {
        white-space: pre-wrap;
    }
    
    osios {
        font-size: 14px;
    }

    .user {
        white-space:unset !important;
    }