/*B"H*/
#BH {
    position:fixed;
    left:26px;
    top:26px;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 10px #ff4da6;
    animation: glow 2s ease-in-out infinite alternate;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
div {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}