/**B"H**/
.hidden{
    display:none

}

#BH {
    
    color: #fff;
}

#BH a {
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#BH a:hover {
    transform: scale(1.1);
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.75);

    padding: 10px;
    border-radius: 5px;
    background: black;
}

