<!--B"H
header

-->
<link href="/style/home/headers.css" type="text/css" rel="stylesheet">
<header>

    <div class="BH">B"H</div>
    <div class="header-buttons">
      
      <button id="menu-button" class="hidden">Menu</button>
     
      <?<script>
        
        if(request.user) {
            
              var t = await getT("profileLink.html");
              return t;
            
        } else {
          return `<a href="/login" id="signin-button">Sign In</a>`
        }
      </script>?>
      
      <?<script>
        if(location.pathname != "/") {
          return /*html*/`
            <a href="/">Home</a>
          `
        }
      </script>?>
    </div>
    
</header>