<!--B"H
header

-->
<link href="/style/home/headers.css" type="text/css" rel="stylesheet">
<header>

    <div class="BH">B"H</div>
    <div class="header-buttons">

      <button id="menu-button">Menu</button>
      <span id="loginBtns">
      <?<script>
        if(request.user) {
            var t = await getT("profileLink.html");
            return t;
        } else {
          return `<a href="/login" id="signin-button">Sign In</a>`
        }
      </script>?>
      </span>

    </div>
    <?<script>
      return JSON.stringify(this.location)
    </script>?>
</header>